.header {
  &__bg {
    display: flex;
    height: 10vh;
    background: url('../img/Assetss/ta_logo_bg.png');

    @include res-xs {
      height: 5vh;
    }
    @include res-sm {
      height: 5vh;
    }
    & a {
      display: flex;
      margin: auto;
      height: 100%;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }
}
