.modal {
  &-open {
    padding-right: 0 !important;
  }
  &-dialog {
    justify-content: center;
  }
  &-content {
    position: relative;
    background-color: transparent;
    border: 0 !important;
    width: 50vw;
    justify-content: center;
    margin: 0 auto;

    @include res-md {
      width: 70vw !important;
    }
    @include res-sm {
      width: 70vw !important;
    }
    @include res-xs {
      width: 80vw !important;
    }
  }

  &-btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;

    text-align: center;
    cursor: pointer;
    & img {
      width: 80%;
      filter: drop-shadow(0 0 10px #fff);

      @include res-xs {
        width: 50%;
      }
    }
  }
}

.owl-modal .owl-item {
  width: 50vw !important;

  @include res-md {
    width: 70vw !important;
  }
  @include res-sm {
    width: 70vw !important;
  }
  @include res-xs {
    width: 80vw !important;
  }
}
.owl-modal .owl-item .item {
  width: 100% !important;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: auto;
}
