.modal {
  &-dialog {
    justify-content: center;
  }
  &-content {
    position: relative;
    background-color: transparent;
    border: 0 !important;
    width: 50vw;
    justify-content: center;
    margin: 0 auto;

    @include res-md {
      width: 60vw;
    }
    @include res-sm {
      width: 70vw;
    }
    @include res-xs {
      width: 80vw;
    }
  }

  &-btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;

    text-align: center;
    cursor: pointer;
    & img {
      width: 100%;
      filter: drop-shadow(0 0 10px #fff);

      @include res-xs {
        width: 50%;
      }
      @include res-sm {
        width: 80%;
      }
    }
  }
}
