@mixin res-3xs {
  @media (max-width: 300px) {
    @content;
  }
}
@mixin res-2xs {
  @media (min-width: 300px) and (max-width: 400px) {
    @content;
  }
}
@mixin res-xxs {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin res-xs {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin res-sm {
  @media (min-width: #{576px}) and (max-width: 768px) {
    @content;
  }
}
@mixin res-sm-landscape {
  @media (min-width: #{576px}) and (max-width: 768px) and (orientation: landscape) {
    @content;
  }
}
@mixin res-md {
  @media (min-width: #{768px}) and (max-width: 992px) {
    @content;
  }
}
@mixin res-md-landscape {
  @media (min-width: #{768px}) and (max-width: 992px) and (orientation: landscape) {
    @content;
  }
}
@mixin res-lg {
  @media (min-width: #{992px}) and (max-width: 1200px) {
    @content;
  }
}
@mixin res-lg-portrait {
  @media (min-width: #{992px}) and (max-width: 1200px) and (orientation: portrait) {
    @content;
  }
}
@mixin res-xl {
  @media (min-width: #{1200px}) and (max-width: 1400px) {
    @content;
  }
}
@mixin res-xl-special {
  @media (min-width: 1200px) and (max-width: 1400px) and (min-height: 700px) {
    @content;
  }
}
@include res-xs() {
  .col-0 {
    display: none;
  }
}

// @mixin res-smartphone-portrait {
//   @media screen and (max-width: 479px) and (orientation: portrait) {
//     @content;
//   }
// }

// @mixin res-smartphone-portrait-sm {
//   @media screen and (min-width: 478px) and (max-width: 576px) and (orientation: portrait) {
//     @content;
//   }
// }

// @mixin res-smartphone-landscape {
//   @media screen and (min-width: 480px) and (max-width: 916px) and (orientation: landscape) {
//     @content;
//   }
// }
// @mixin res-smartphone-landscape-special {
//   @media screen and (min-width: 650px) and (max-width: 750px) and (orientation: landscape) and (max-height: 361px) {
//     @content;
//   }
// }

// @mixin res-tablet-portrait-xs {
//   @media screen and (min-width: 575px) and (max-width: 768px) and (orientation: portrait) {
//     @content;
//   }
// }

// @mixin res-tablet-portrait {
//   @media screen and (min-width: 768px) and (max-width: 99) and (orientation: portrait) {
//     @content;
//   }
// }
// @mixin res-tablet-landscape {
//   @media screen and (min-width: 1023px) and (max-width: 1200px) {
//     @content;
//   }
// }
// @mixin res-tablet-landscape-special {
//   @media screen and (min-width: 710px) and (max-width: 730px) and (orientation: landscape) and (min-height: 500px) {
//     @content;
//   }
// }
// @mixin res-galaxy-fold {
//   @media screen and (min-width: 512px) and (max-width: 541px) and (max-height: 721px) and (orientation: portrait) {
//     @content;
//   }
// }

//smartphone portrait

// bootstrap 5 column
/*#region Chia 5 cột */
.col-12d5 {
  flex: 0 0 auto;
  width: 20%;
  max-width: 9999px;
}

.col-12d5-x3 {
  flex: 0 0 auto;
  width: 60%;
  max-width: 9999px;
}

@media (min-width: 576px) {
  /*#region Chia 5 cột */
  .col-sm-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }
  .col-sm-12d5-x3 {
    margin-left: 0;
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}

@media (min-width: 768px) {
  /*#region Chia 5 cột */
  .col-md-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }
  .col-md-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}

@media (min-width: 992px) {
  /*#region Chia 5 cột */
  .col-lg-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }
  .col-lg-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}

@media (min-width: 1200px) {
  /*#region Chia 5 cột */
  .col-xl-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }
  .col-xl-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}

@media (min-width: 1400px) {
  /*#region Chia 5 cột */
  .col-xxl-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }
  .col-xxl-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}
