.s1 {
  // S1 TOP
  &-top {
    height: 90vh;
    background: url('../img/Assetss/section-banner-bg.png') no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: relative;

    @include res-xs {
      height: 50vh;
    }

    @include res-tablet-portrait {
      height: 70vh;
    }

    // @include res-smartphone-landscape-special {
    //   height: 100vh;
    // }
    // @include res-xxs {
    //   height: 70vh;
    // }
    // @include res-xxxs {
    //   height: 60vh;
    // }
    // LOGO
    &__logo {
      position: absolute;
      top: 5%;
      text-align: center;
      width: 100%;

      & > img {
        width: 11.3%;

        @include res-md {
          width: 15%;
        }
        @include res-sm {
          width: 15%;
        }
        @include res-xs {
          width: 25%;
        }
      }
    }

    // CAR
    &__banner {
      width: 100%;
      position: absolute;
      bottom: 0;

      // @include res-xs {
      //   height: 100vh;
      // }

      &-shape {
        width: 100%;
        filter: drop-shadow(0 0 10px #000);

        @include res-md {
          height: 50vh;
        }

        @include res-smartphone-portrait {
          height: 30vh;
        }
        @include res-smartphone-landscape {
          height: 50vh;
        }

        @include res-tablet-portrait {
          height: 40vh;
        }

        @include res-smartphone-landscape-special {
          visibility: hidden;
        }
        // @include res-sm {
        //   height: 50vh;
        // }
        // @include res-xs {
        //   height: 30vh;
        // }
        // @include res-xxxs {
        //   height: 30vh;
        // }
      }

      &-car1 {
        position: absolute;
        bottom: 20%;
        left: 14%;
        aspect-ratio: 16/9;
        filter: drop-shadow(-10px 25px 40px #000);

        // @include res-lg {
        //   width: 50%;
        // }
        // @include res-md {
        //   bottom: 25%;
        //   width: 50%;
        // }
        // @include res-sm {
        //   width: 55%;
        //   bottom: 22%;
        // }

        // @include res-xs {
        //   width: 50%;
        //   top: 30%;
        //   left: 18%;
        // }

        // @include res-xxxs {
        //   width: 50%;
        //   top: 33%;
        //   left: 18%;
        // }
        @include res-smartphone-landscape {
          width: 40%;
          top: 0%;
          left: 22%;
        }
        @include res-smartphone-portrait {
          width: 60%;
          top: 22%;
          left: 10%;
        }

        @include res-tablet-landscape {
          width: 50%;
        }

        @include res-tablet-portrait {
          width: 50%;
          top: 30%;
          left: 20%;
        }

        @include res-tablet-landscape-special {
          width: 50%;
          left: 15%;
          top: 0%;
        }

        @include res-smartphone-landscape-special {
          width: 30%;
          top: 10%;
          left: 35%;
        }

        @include res-galaxy-fold {
          width: 50%;
        }

        & img {
          width: 100%;
          animation: showCar 1s linear;
        }

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;

          top: -30%;
          left: 50%;
          background: url(../img/Assetss/car-red-blur.png) no-repeat;
          background-size: contain;

          opacity: 0.8;
          z-index: -1;
        }
      }
      &-car2 {
        position: absolute;
        bottom: 69%;
        right: 6%;

        filter: drop-shadow(-10px 25px 20px #000);

        & img {
          width: 100%;
          animation: showCar 1s linear;
        }

        @include res-smartphone-portrait {
          width: 35%;
          right: 0%;
          bottom: 70%;
        }
        @include res-smartphone-landscape {
          width: 27%;
          right: 1%;
          bottom: 75%;
        }

        @include res-tablet-portrait {
          right: 0%;
          bottom: 70%;
        }

        @include res-tablet-landscape {
          width: 30%;
          right: 2%;
          bottom: 73%;
        }

        @include res-tablet-portrait {
          width: 35%;
          right: 0%;
        }

        // @include res-xs {
        //   width: 30%;
        // }

        @include res-tablet-landscape-special {
          width: 30%;
          right: 3%;
          bottom: 75%;
        }

        @include res-smartphone-landscape-special {
          width: 20%;
          right: 5%;
          bottom: 70%;
        }

        @include res-galaxy-fold {
          width: 35%;
          right: 1%;
        }

        // @include res-sm {
        //   width: 30%;
        //   bottom: 73%;
        //   right: 0%;
        // }
        // @include res-md {
        //   width: 30%;
        // }
        // @include res-lg {
        //   width: 30%;
        // }

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;

          top: -37%;
          left: 40%;
          background: url(../img/Assetss/car-green-blur.png) no-repeat;
          background-size: contain;

          opacity: 0.8;
          z-index: -1;
        }
      }
    }

    // BTN SCROLL
    &__btn {
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      cursor: pointer;

      @include absolute('horizontal');
      bottom: 4%;

      @include res-xs {
        grid-gap: 5px;
        width: 50%;
        justify-content: center;
      }

      & img:first-child,
      & img:last-child {
        @include animationBtnScroll(1s);
        @include res-xs {
          width: 5%;
        }
      }
      &-child {
        @include res-xs {
          width: 70%;
        }
      }
    }
  }

  // S1 BOTTOM**********************************

  &-bottom {
    padding-block: 5.5%;
    position: relative;
    background: url('../img/Assetss/BG1.jpg') bottom;
    height: auto;
    @include res-xs {
      padding-block: 10%;
    }

    &__headline {
      text-align: center;
      margin-bottom: 4%;

      @include res-xs {
        margin-bottom: 10%;
      }

      & > img {
        @include res-xs {
          width: 90%;
        }
      }
    }
    &__img {
      position: relative;

      &::after {
        content: '';
        width: 30%;
        height: 30%;
        background: url('../img/Assetss/btn_play.png') center no-repeat;

        background-size: contain;
        @include absolute();
        cursor: pointer;
      }
    }
    &__video {
      max-width: 70%;
      margin: 0 auto;
      padding: 2.8% 2% 2.15% 2%;
      background-image: url('../img/Assetss/S1_Videoframe.png');
      background-size: 100% 100%;
      background-position: center;
      position: relative;

      &-icon-replay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 10;
        width: 15%;

        & img {
          width: 100%;
        }
      }

      &-icon-play {
        @extend .s1-bottom__video-icon-replay;
      }

      @include res-xs {
        max-width: 90%;
      }
      @include res-sm {
        max-width: 90%;
      }

      & video {
        width: 100%;
      }
    }
  }
}
