.s1 {
  // S1 TOP
  &-top {
    height: 90vh;
    background: url('../img/Assetss/section-banner-bg.png') no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: relative;

    @include res-xs {
      height: 400px;
    }
    @include res-xxs {
      height: 340px;
    }
    @include res-2xs {
      height: 230px;
    }
    @include res-3xs {
      height: 230px;
    }

    @include res-sm {
      height: 460px;
    }

    @include res-md {
      height: 550px;
    }

    @include res-sm-landscape {
      height: 430px;
    }

    @include res-md-landscape {
      height: 500px;
    }

    @include res-lg-portrait {
      height: 650px;
    }

    @include res-xl-special {
      height: 700px;
    }

    // LOGO
    &__logo {
      position: absolute;
      top: 5%;
      text-align: center;
      width: 100%;

      & > img {
        width: 11.3%;

        @include res-md {
          width: 15%;
        }
        @include res-sm {
          width: 15%;
        }
        @include res-xs {
          width: 15%;
        }
      }
    }

    // CAR
    &__banner {
      width: 100%;
      position: absolute;
      bottom: 0;

      &-shape {
        width: 100%;
        filter: drop-shadow(0 0 10px #000);

        @include res-xs {
          height: 250px;
        }
        @include res-xxs {
          height: 230px;
        }
        @include res-2xs {
          height: 150px;
        }
        @include res-3xs {
          height: 150px;
        }

        @include res-sm {
          height: 270px;
        }

        @include res-md {
          height: 350px;
        }

        @include res-sm-landscape {
          height: 250px;
        }

        @include res-md-landscape {
          height: 330px;
        }

        @include res-lg {
          height: 50vh;
        }
        @include res-lg-portrait {
          height: 400px;
        }
        @include res-xl {
          height: 53vh;
        }

        @include res-xl-special {
          height: 430px;
        }
      }

      &-car1 {
        position: absolute;
        bottom: 20%;
        left: 14%;
        aspect-ratio: 16/9;
        filter: drop-shadow(-10px 25px 40px #000);
        @include res-xs {
          width: 55%;
          left: 15%;
          top: 6%;
        }

        @include res-xxs {
          width: 55%;
          left: 15%;
          top: 15%;
        }
        @include res-2xs {
          width: 50%;
          left: 15%;
          top: 10%;
        }

        @include res-sm {
          width: 55%;
          left: 100px;
          top: 0px;
        }
        @include res-md {
          width: 60%;
          left: 15%;
          top: 20%;
        }

        @include res-xl {
          width: 44%;
          left: 20%;
          top: 15%;
        }

        @include res-sm-landscape {
          width: 45%;
          left: 20%;
          top: -2%;
        }

        @include res-md {
          width: 55%;
          left: 15%;
          top: 13%;
        }

        @include res-md-landscape {
          width: 55%;
          left: 15%;
          top: 10%;
        }

        @include res-lg {
          width: 53%;
          top: -5%;
          left: 15%;
        }

        @include res-lg-portrait {
          top: 5%;
        }

        @include res-xl {
          width: 45%;
          top: 4%;
          left: 15%;
        }
        @include res-xl-special {
          width: 50%;
          left: 170px;
          top: 10px;
        }

        & img {
          width: 100%;
          animation: showCar 1s linear;
        }

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;

          top: -30%;
          left: 50%;
          background: url(../img/Assetss/car-red-blur.png) no-repeat;
          background-size: contain;

          opacity: 0.8;
          z-index: -1;
        }
      }
      &-car2 {
        position: absolute;
        bottom: 69%;
        right: 6%;
        filter: drop-shadow(-10px 25px 20px #000);
        @include res-xs {
          width: 30%;
          right: 1%;
        }
        @include res-xxs {
          width: 30%;
          right: 3%;
        }

        @include res-sm {
          width: 30%;
          right: 1%;
          bottom: 75%;
        }

        @include res-md {
          width: 25%;
          right: 1%;
        }
        @include res-lg {
          width: 28%;
          right: 3%;
          bottom: 73%;
        }
        @include res-xl {
          width: 25%;
          right: 3%;
          bottom: 67%;
        }
        @include res-sm-landscape {
          width: 25%;
          right: 3%;
          bottom: 75%;
        }
        @include res-md-landscape {
          bottom: 75%;
        }

        @include res-md {
          width: 30%;
          bottom: 70%;
        }

        @include res-lg {
          width: 28%;
          bottom: 75%;
        }
        @include res-xl {
          width: 28%;
          bottom: 70%;
        }

        & img {
          width: 100%;
          animation: showCar 1s linear;
        }

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;

          top: -37%;
          left: 40%;
          background: url(../img/Assetss/car-green-blur.png) no-repeat;
          background-size: contain;

          opacity: 0.8;
          z-index: -1;
        }
      }
    }

    // BTN SCROLL
    &__btn {
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      cursor: pointer;

      @include absolute('horizontal');
      bottom: 4%;

      @include res-xs {
        grid-gap: 5px;
        width: 50%;
        justify-content: center;
      }

      & img:first-child,
      & img:last-child {
        @include animationBtnScroll(1s);
        @include res-xs {
          width: 5%;
        }
      }
      &-child {
        @include res-xs {
          width: 70%;
        }
      }
    }
  }

  // S1 BOTTOM**********************************

  &-bottom {
    padding-block: 5.5%;
    position: relative;
    background: url('../img/Assetss/BG1.jpg') bottom;
    height: auto;
    @include res-xs {
      padding-block: 10%;
    }

    &__headline {
      text-align: center;
      margin-bottom: 4%;

      @include res-xs {
        margin-bottom: 10%;
      }

      & > img {
        @include res-xs {
          width: 90%;
        }
      }
    }
    &__img {
      position: relative;

      &::after {
        content: '';
        width: 30%;
        height: 30%;
        background: url('../img/Assetss/btn_play.png') center no-repeat;

        background-size: contain;
        @include absolute();
        cursor: pointer;
      }
    }
    &__video {
      max-width: 70%;
      margin: 0 auto;
      padding: 2.8% 2% 2.15% 2%;
      background-image: url('../img/Assetss/S1_Videoframe.png');
      background-size: 100% 100%;
      background-position: center;
      position: relative;

      &-icon-replay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 10;
        width: 15%;

        & img {
          width: 100%;
        }
      }

      &-icon-play {
        @extend .s1-bottom__video-icon-replay;
      }

      @include res-xs {
        max-width: 90%;
      }
      @include res-sm {
        max-width: 90%;
      }

      & video {
        width: 100%;
      }
    }
  }
}
