.s2 {
  background: url('../img/Assetss/BG2.jpg');
  padding-block: 55px;

  &__headline {
    text-align: center;
  }

  &__video {
    @extend .s1-bottom__video;
    background-image: url('../img/Assetss/S2_Videoframe.png');
    margin: 45px auto 20px;
  }

  &__slider {
    max-width: 70%;
    margin: 0 auto;

    @include res-sm {
      max-width: 90%;
    }
    @include res-xs {
      max-width: 90%;
    }
  }

  &__item {
    &:not(.active) > img {
      opacity: 0.5;
    }
  }

  &__title {
    color: $color-white;
    font-weight: normal;
    text-align: center;
  }
}

// slider
.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -70px;
}

.owl-next {
  right: -70px;
}
