.s2 {
  background: url('../img/Assetss/BG2.jpg');
  padding-block: 4.5%;

  @include res-xs {
    padding-block: 10%;
  }

  &__headline {
    text-align: center;

    & > img {
      @include res-xs {
        width: 90%;
      }
    }
  }

  &__video {
    @extend .s1-bottom__video;
    background-image: url('../img/Assetss/S2_Videoframe.png');
    margin: 4% auto 2%;

    @include res-xs {
      margin: 10% auto 8%;
    }

    & video {
      aspect-ratio: 16/9;
    }

    &-icon-replay {
      @extend .s1-bottom__video-icon-replay;
    }
    &-icon-play {
      @extend .s1-bottom__video-icon-replay;
    }
  }

  &__slider {
    max-width: 70%;
    margin: 0 auto;

    @include res-sm {
      max-width: 90%;
    }
    @include res-xs {
      max-width: 90%;
    }
  }

  &__item {
    cursor: pointer;
    &:not(.active) > img {
      opacity: 0.5;
    }
  }

  &__title {
    color: $color-white;
    font-weight: normal;
    text-align: center;
    @include lineLimit(2);

    @include res-xs {
      font-size: 12px;
    }
  }

  & .owl-prev,
  & .owl-next {
    position: absolute;
    top: 30%;
    animation: zoom 1.5s infinite;
  }
}

// slider

.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  animation: zoom 1.5s infinite;

  @include res-xs {
    top: 35%;
  }
}

.owl-prev {
  left: -70px;

  @include res-xs {
    left: -10%;
  }
}

.owl-next {
  right: -70px;

  @include res-xs {
    right: -10%;
  }
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent !important;
}
