.s3 {
  background: url('../img/Assetss/BG3.png') no-repeat top;
  background-size: cover;

  @include res-xs {
    background-image: url('../img/Assetss/BG3.jpg');
  }
  @include res-sm {
    background-image: url('../img/Assetss/BG3.jpg');
  }
  @include res-md {
    background-image: url('../img/Assetss/BG3.jpg');
  }

  &-top {
    text-align: center;

    &__img {
      position: relative;
      max-width: max-content;
      margin: 0 auto;

      & img:not(:first-child) {
        position: absolute;
      }
      &--hulk {
        top: 45%;
        left: 5%;
      }

      &--captainmarvel {
        top: 60.5%;
        left: 13.5%;
      }

      &--ironman {
        top: 67.5%;
        left: 35%;
      }

      &--panther {
        top: 61.5%;
        left: 55.5%;
      }

      &--spiderman {
        top: 47%;
        left: 65%;
      }

      &--s3-2-hulk {
        top: 55%;
        left: 19%;
      }

      &--s3-2-ironman {
        top: 65%;
        left: 37%;
      }

      &--s3-2-miles {
        top: 54.5%;
        left: 57%;
      }

      & &-s3 {
        width: 100%;
      }

      & img:not(:first-child) {
        @include res-xs {
          width: 24%;
        }
        @include res-sm {
          width: 24%;
        }
        @include res-md {
          width: 24%;
        }
        @include res-lg {
          width: 24%;
        }
      }
    }
  }

  &-bottom {
    // headline
    &__headline {
      text-align: center;
      padding-top: 17%;

      & img {
        @include res-sm {
          width: 95%;
        }
        @include res-xs {
          width: 95%;
        }
      }
      // mini
      &.racing_mini {
        padding-top: 8%;
      }
    }
    // SUB HEADLINE
    &__sub-headline {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.6;
      color: $color-white;

      text-align: center;
      margin: 2% 0 3%;

      @include res-xs {
        font-size: 16px;
      }
    }

    // LABEL
    &__label {
      text-align: center;
      & img {
        width: 95%;
      }
    }
    // BTN SCROLL
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1%;
      margin: 1.5% 0 2.5%;

      @include res-xs {
        margin: 3% auto 2%;
      }

      &-icon {
        height: auto;
        animation: btn 1s linear infinite;
        @include res-xs {
          width: 2.5%;
        }

        @include res-sm {
          width: 2.5%;
        }
        @include res-md {
          width: 2.5%;
        }
      }

      &-text {
        @include res-xs {
          width: 60%;
        }
        @include res-sm {
          width: 60%;
        }
        @include res-md {
          width: 45%;
        }
      }
    }
    // 2 WAVE
    &__wave {
      display: flex;
      justify-content: center;
      gap: 3%;
      cursor: pointer;

      @include res-sm {
        gap: 0;
      }
      @include res-xs {
        gap: 0;
      }
      & img {
        width: 40%;

        @include res-md {
          width: 45%;
        }
        @include res-sm {
          width: 50%;
        }
        @include res-xs {
          width: 50%;
        }
      }
    }

    // List Product
    &__frame-product {
      max-width: 1035px;
      margin: 0 auto;
      padding: 2.5% 2%;
      background-size: 100% 100%;
      background-position: center;

      &.frame-venomized {
        background-image: url('../img/Assetss/frame-red.png');
      }
      &.frame-original {
        background-image: url('../img/Assetss/frame-blue.png');
      }
    }
    &__list-product {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 142px);
      grid-gap: 10px;
      // 142

      @include res-md {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 120px);
        grid-gap: 15px;
      }
      // 120
      @include res-sm {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 130px);
        grid-gap: 10px;
      }
      @include res-xs {
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: auto;
        grid-gap: 10px;
      }

      &.racing_mini {
        max-width: 60%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 145px 145px;
        grid-gap: 10px;

        @include res-md {
          max-width: 100%;
          grid-template-rows: 164px 164px;
        }
        @include res-sm {
          max-width: 100%;
          grid-template-rows: 122px 122px;
        }
        @include res-xs {
          max-width: 100%;
          grid-template-rows: auto;
        }
      }
    }

    &__product {
      width: 100%;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        @include res-xs {
          aspect-ratio: 4/3;
        }
      }
      &-title {
        text-align: center;
        margin-bottom: 2.5%;

        & img {
          height: auto;

          @include res-xs {
            width: 70%;
          }
          @include res-sm {
            width: 70%;
          }
        }
      }
    }
  }

  &__racing-original,
  &__racing-venomized,
  &__mini-original,
  &__mini-venomized {
    padding-bottom: 6.5%;
  }
}
