.s4 {
  background: url('../img/Assetss/BG2.jpg') no-repeat center;
  background-size: cover;
  padding: 40px 0;
  &__colection {
    @include res-xs {
      width: 90%;
    }
    @include res-sm {
      width: 90%;
    }
  }
  &__btn {
    margin-top: 20px;
    animation: flicker 1s infinite;

    @include res-xs {
      width: 80%;
    }
  }
}
