.s5 {
  position: relative;
  height: max-content;

  &__banner {
    width: 100%;
  }
  &__headline {
    position: absolute;
    top: 6%;
    width: 100%;
    text-align: center;

    @include res-sm {
      top: 10%;
    }
    @include res-xs {
      top: 10%;
    }

    & img {
      width: 49%;
      @include res-sm {
        width: 80%;
      }
      @include res-xs {
        width: 80%;
      }
    }
  }

  &__play {
    position: absolute;
    text-align: center;
    bottom: 5px;
    width: 100%;
    & img {
      width: 33%;
      animation: zoom 1.5s infinite;

      @include res-sm {
        width: 80%;
      }
      @include res-xs {
        width: 80%;
      }
    }
  }
}
