.s5 {
  position: relative;
  padding-block: 3%;
  overflow-y: hidden;
  height: 90vh;
  background: url('../img/Assetss/section-play-game-banner.png');

  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;

  @include res-xs {
    height: 70vh;
    background-size: auto 100%;
  }
  @include res-sm {
    height: 75vh;
  }

  &__headline {
    width: 100%;
    text-align: center;
    & img {
      @include res-sm {
        width: 100%;
      }
      @include res-xs {
        width: 100%;
      }
    }
  }

  &__play {
    @include absolute('horizontal');
    bottom: 5px;
    & img {
      animation: zoom 1.5s infinite;
    }
  }
}
