@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@media (max-width: 576px) {
  .col-0 {
    display: none;
  }
}
/*#region Chia 5 cột */
.col-12d5 {
  flex: 0 0 auto;
  width: 20%;
  max-width: 9999px;
}

.col-12d5-x3 {
  flex: 0 0 auto;
  width: 60%;
  max-width: 9999px;
}

@media (min-width: 576px) {
  /*#region Chia 5 cột */
  .col-sm-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }

  .col-sm-12d5-x3 {
    margin-left: 0;
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}
@media (min-width: 768px) {
  /*#region Chia 5 cột */
  .col-md-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }

  .col-md-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}
@media (min-width: 992px) {
  /*#region Chia 5 cột */
  .col-lg-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }

  .col-lg-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}
@media (min-width: 1200px) {
  /*#region Chia 5 cột */
  .col-xl-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }

  .col-xl-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}
@media (min-width: 1400px) {
  /*#region Chia 5 cột */
  .col-xxl-12d5 {
    flex: 0 0 auto;
    width: 20%;
    max-width: 9999px;
  }

  .col-xxl-12d5-x3 {
    flex: 0 0 auto;
    width: 60%;
    max-width: 9999px;
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.4rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
}

body {
  background-color: #000;
}

img {
  display: inline-block;
}

.hiden {
  display: none !important;
}

.btn-disable {
  filter: brightness(50%);
}

.section-line {
  height: 43px;
  width: 100%;
  background-image: url("../img/Assetss/BG3_LINE.jpg");
  position: absolute;
  bottom: 0;
}
@media (max-width: 576px) {
  .section-line {
    height: 28px;
  }
}

.section-line--2 {
  height: 43px;
  background: url("../img/Assetss/BG4_LINE.jpg") no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  .section-line--2 {
    height: 28px;
  }
}

.disable {
  filter: brightness(50%);
}

.grid {
  display: block;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .grid {
    max-width: 1140px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .grid {
    max-width: 960px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .grid {
    max-width: 720px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .grid {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .grid {
    max-width: 100%;
  }
}

@keyframes showCar {
  from {
    transform: translate3d(100px, -62px, -135px);
    opacity: 0.5;
  }
  to {
    transform: translate3d(0);
    opacity: 1;
  }
}
@keyframes car {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
}
@keyframes btn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes zoomplay {
  0%, 100% {
    width: 50%;
  }
  50% {
    width: 60%;
  }
}
@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes flicker {
  0%, 100% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
}
.header__bg {
  display: flex;
  height: 10vh;
  background: url("../img/Assetss/ta_logo_bg.png");
}
.header__bg a {
  display: block;
  margin: auto;
  height: 100%;
}
.header__bg img {
  height: 100%;
}

.s1-top {
  height: 90vh;
  background: url("../img/Assetss/section-banner-bg.png") no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
}
@media (max-width: 576px) {
  .s1-top {
    height: 80vh;
  }
}
.s1-top__logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  .s1-top__logo {
    top: 2rem;
  }
}
.s1-top__logo > img {
  width: 93%;
}
.s1-top__banner {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.s1-top__banner-shape {
  width: 100%;
  filter: drop-shadow(0 0 10px #000);
}
@media (min-width: 577px) and (max-width: 768px) {
  .s1-top__banner-shape {
    width: 180%;
  }
}
@media (max-width: 576px) {
  .s1-top__banner-shape {
    width: 200%;
  }
}
.s1-top__banner-car1 {
  position: absolute;
  bottom: 22%;
  left: 14%;
  aspect-ratio: 16/9;
  filter: drop-shadow(-10px 25px 40px #000);
}
@media (min-width: 993px) and (max-width: 1200px) {
  .s1-top__banner-car1 {
    width: 50%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .s1-top__banner-car1 {
    width: 75%;
  }
}
.s1-top__banner-car1 img {
  width: 100%;
  animation: showCar 1s linear, car 0.3s 1s infinite;
}
.s1-top__banner-car1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -30%;
  left: 50%;
  background: url(../img/Assetss/car-red-blur.png) no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.s1-top__banner-car2 {
  position: absolute;
  bottom: 69%;
  right: 6%;
  filter: drop-shadow(-10px 25px 20px #000);
}
.s1-top__banner-car2 img {
  width: 100%;
  animation: showCar 1s linear, car 0.3s 1s infinite;
}
@media (max-width: 576px) {
  .s1-top__banner-car2 {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s1-top__banner-car2 {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .s1-top__banner-car2 {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .s1-top__banner-car2 {
    width: 30%;
  }
}
.s1-top__banner-car2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -37%;
  left: 40%;
  background: url(../img/Assetss/car-green-blur.png) no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.s1-top__btn {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4%;
}
@media (max-width: 576px) {
  .s1-top__btn {
    width: 100%;
    justify-content: center;
  }
}
.s1-top__btn img:first-child, .s1-top__btn img:last-child {
  animation: btn 1s infinite;
}
@media (max-width: 576px) {
  .s1-top__btn-child {
    width: 70%;
  }
}
.s1-bottom {
  padding-block: 5.5%;
  position: relative;
  background: url("../img/Assetss/BG1.jpg") bottom;
  height: auto;
}
.s1-bottom__headline {
  text-align: center;
  margin-bottom: 4%;
}
@media (max-width: 576px) {
  .s1-bottom__headline > img {
    width: 90%;
  }
}
.s1-bottom__img {
  position: relative;
}
.s1-bottom__img::after {
  content: "";
  width: 30%;
  height: 30%;
  background: url("../img/Assetss/btn_play.png") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.s1-bottom__video, .s2__video {
  max-width: 70%;
  margin: 0 auto;
  padding: 2.8% 2% 2.15% 2%;
  background-image: url("../img/Assetss/S1_Videoframe.png");
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}
.s1-bottom__video-icon-replay, .s2__video-icon-replay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 576px) {
  .s1-bottom__video, .s2__video {
    max-width: 90%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s1-bottom__video, .s2__video {
    max-width: 90%;
  }
}
.s1-bottom__video video, .s2__video video {
  width: 100%;
}

.s2 {
  background: url("../img/Assetss/BG2.jpg");
  padding-block: 4.5%;
}
.s2__headline {
  text-align: center;
}
.s2__video {
  background-image: url("../img/Assetss/S2_Videoframe.png");
  margin: 4% auto 2%;
}
.s2__video video {
  aspect-ratio: 16/9;
}
.s2__slider {
  max-width: 70%;
  margin: 0 auto;
}
@media (min-width: 577px) and (max-width: 768px) {
  .s2__slider {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .s2__slider {
    max-width: 90%;
  }
}
.s2__item {
  cursor: pointer;
}
.s2__item:not(.active) > img {
  opacity: 0.5;
}
.s2__title {
  color: #fff;
  font-weight: normal;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .s2__title {
    font-size: 12px;
  }
}
.s2 .owl-prev, .s2 .owl-next {
  position: absolute;
  top: 30%;
  animation: zoom 1.5s infinite;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  animation: zoom 1.5s infinite;
}
@media (max-width: 576px) {
  .owl-prev,
.owl-next {
    top: 35%;
  }
}

.owl-prev {
  left: -70px;
}
@media (max-width: 576px) {
  .owl-prev {
    left: -10%;
  }
}

.owl-next {
  right: -70px;
}
@media (max-width: 576px) {
  .owl-next {
    right: -10%;
  }
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
}

.s3 {
  background: url("../img/Assetss/BG3.png") no-repeat top;
  background-size: cover;
}
@media (max-width: 576px) {
  .s3 {
    background-image: url("../img/Assetss/BG3.jpg");
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s3 {
    background-image: url("../img/Assetss/BG3.jpg");
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .s3 {
    background-image: url("../img/Assetss/BG3.jpg");
  }
}
.s3-top {
  text-align: center;
}
.s3-top__img {
  position: relative;
  max-width: max-content;
  margin: 0 auto;
}
.s3-top__img img:not(:first-child) {
  position: absolute;
}
.s3-top__img--hulk {
  top: 45%;
  left: 5%;
}
.s3-top__img--captainmarvel {
  top: 60.5%;
  left: 13.5%;
}
.s3-top__img--ironman {
  top: 67.5%;
  left: 35%;
}
.s3-top__img--panther {
  top: 61.5%;
  left: 55.5%;
}
.s3-top__img--spiderman {
  top: 47%;
  left: 65%;
}
.s3-top__img--s3-2-hulk {
  top: 55%;
  left: 19%;
}
.s3-top__img--s3-2-ironman {
  top: 65%;
  left: 37%;
}
.s3-top__img--s3-2-miles {
  top: 54.5%;
  left: 57%;
}
.s3-top__img .s3-top__img-s3 {
  width: 100%;
}
@media (max-width: 576px) {
  .s3-top__img img:not(:first-child) {
    width: 24%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s3-top__img img:not(:first-child) {
    width: 24%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .s3-top__img img:not(:first-child) {
    width: 24%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .s3-top__img img:not(:first-child) {
    width: 24%;
  }
}
.s3-bottom__headline {
  text-align: center;
  padding-top: 17%;
}
@media (min-width: 577px) and (max-width: 768px) {
  .s3-bottom__headline img {
    width: 95%;
  }
}
@media (max-width: 576px) {
  .s3-bottom__headline img {
    width: 95%;
  }
}
.s3-bottom__headline.racing_mini {
  padding-top: 8%;
}
.s3-bottom__sub-headline {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  margin: 2% 0 3%;
}
@media (max-width: 576px) {
  .s3-bottom__sub-headline {
    font-size: 16px;
  }
}
.s3-bottom__label {
  text-align: center;
}
.s3-bottom__label img {
  width: 95%;
}
.s3-bottom__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin: 1.5% 0 2.5%;
}
.s3-bottom__btn-icon {
  height: auto;
  animation: btn 1s linear infinite;
}
@media (max-width: 576px) {
  .s3-bottom__btn-icon {
    width: 10%;
  }
}
@media (max-width: 576px) {
  .s3-bottom__btn-text {
    width: 90%;
  }
}
.s3-bottom__wave {
  display: flex;
  justify-content: center;
  gap: 3%;
  cursor: pointer;
}
@media (min-width: 577px) and (max-width: 768px) {
  .s3-bottom__wave {
    gap: 0;
  }
}
@media (max-width: 576px) {
  .s3-bottom__wave {
    gap: 0;
  }
}
.s3-bottom__wave img {
  width: 40%;
}
@media (min-width: 769px) and (max-width: 992px) {
  .s3-bottom__wave img {
    width: 45%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s3-bottom__wave img {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .s3-bottom__wave img {
    width: 50%;
  }
}
.s3-bottom__frame-product {
  max-width: 1035px;
  margin: 0 auto;
  padding: 2.5% 2%;
  background-size: 100% 100%;
  background-position: center;
}
.s3-bottom__frame-product.frame-venomized {
  background-image: url("../img/Assetss/frame-red.png");
}
.s3-bottom__frame-product.frame-original {
  background-image: url("../img/Assetss/frame-blue.png");
}
.s3-bottom__list-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 142px);
  grid-gap: 10px;
}
@media (min-width: 769px) and (max-width: 992px) {
  .s3-bottom__list-product {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 120px);
    grid-gap: 15px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s3-bottom__list-product {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 130px);
    grid-gap: 10px;
  }
}
@media (max-width: 576px) {
  .s3-bottom__list-product {
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}
.s3-bottom__list-product.racing_mini {
  max-width: 60%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 145px 145px;
  grid-gap: 10px;
}
@media (min-width: 769px) and (max-width: 992px) {
  .s3-bottom__list-product.racing_mini {
    max-width: 100%;
    grid-template-rows: 164px 164px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s3-bottom__list-product.racing_mini {
    max-width: 100%;
    grid-template-rows: 122px 122px;
  }
}
@media (max-width: 576px) {
  .s3-bottom__list-product.racing_mini {
    max-width: 100%;
    grid-template-rows: auto;
  }
}
.s3-bottom__product {
  width: 100%;
  cursor: pointer;
}
.s3-bottom__product img {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .s3-bottom__product img {
    aspect-ratio: 4/3;
  }
}
.s3-bottom__product-title {
  text-align: center;
  margin-bottom: 2.5%;
}
.s3-bottom__product-title img {
  height: auto;
}
@media (max-width: 576px) {
  .s3-bottom__product-title img {
    width: 100%;
  }
}
.s3__racing-original, .s3__racing-venomized, .s3__mini-original, .s3__mini-venomized {
  padding-bottom: 6.5%;
}

.s4 {
  background: url("../img/Assetss/BG2.jpg") no-repeat center;
  background-size: cover;
  padding: 3.4% 0;
}
@media (max-width: 576px) {
  .s4__colection {
    width: 90%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s4__colection {
    width: 90%;
  }
}
.s4__btn {
  margin-top: 2%;
  animation: flicker 1s infinite;
}
@media (max-width: 576px) {
  .s4__btn {
    width: 80%;
  }
}

.s5 {
  position: relative;
  padding-block: 3%;
  overflow-y: hidden;
  height: 90vh;
  background: url("../img/Assetss/section-play-game-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
@media (max-width: 576px) {
  .s5 {
    height: 70vh;
    background-size: auto 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .s5 {
    height: 75vh;
  }
}
.s5__headline {
  width: 100%;
  text-align: center;
}
@media (min-width: 577px) and (max-width: 768px) {
  .s5__headline img {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .s5__headline img {
    width: 80%;
  }
}
.s5__play {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}
.s5__play img {
  animation: zoom 1.5s infinite;
}

.footer {
  position: relative;
  background-color: #212121;
  padding-bottom: 50px;
}
.footer-top {
  text-align: center;
  background: url("../img/Assetss/BG7.png");
}
.footer-top__text {
  padding: 40px 0 35px;
}
@media (max-width: 576px) {
  .footer-top__text img {
    width: 80%;
  }
}
.footer-top__company {
  max-width: 770px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.footer-top__company img {
  cursor: pointer;
}
.footer-top__company-list {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 25px;
}
@media (max-width: 576px) {
  .footer-top__company-list {
    max-width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .footer-top__company-list {
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .footer-top__company-list {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .footer-top__company-list img {
    width: 45%;
  }
}
.footer-bottom__logo {
  padding-top: 23px;
  padding-bottom: 20px;
}
.footer-bottom p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
}
.footer-bottom__company {
  margin: 10px 0;
}
@media (max-width: 576px) {
  .footer-bottom__company img {
    width: 100%;
  }
}

.modal-open {
  padding-right: 0 !important;
}
.modal-dialog {
  justify-content: center;
}
.modal-content {
  position: relative;
  background-color: transparent;
  border: 0 !important;
  width: 50vw;
  justify-content: center;
  margin: 0 auto;
}
@media (min-width: 769px) and (max-width: 992px) {
  .modal-content {
    width: 70vw !important;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .modal-content {
    width: 70vw !important;
  }
}
@media (max-width: 576px) {
  .modal-content {
    width: 80vw !important;
  }
}
.modal-btn-close {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  text-align: center;
  cursor: pointer;
}
.modal-btn-close img {
  width: 80%;
  filter: drop-shadow(0 0 10px #fff);
}
@media (max-width: 576px) {
  .modal-btn-close img {
    width: 50%;
  }
}

.owl-modal .owl-item {
  width: 50vw !important;
}
@media (min-width: 769px) and (max-width: 992px) {
  .owl-modal .owl-item {
    width: 70vw !important;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .owl-modal .owl-item {
    width: 70vw !important;
  }
}
@media (max-width: 576px) {
  .owl-modal .owl-item {
    width: 80vw !important;
  }
}

.owl-modal .owl-item .item {
  width: 100% !important;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
